version: "3.8"

services:
  ai_service:
    build:
      context: .
      dockerfile: ai_service/Dockerfile
    container_name: ai_service
    ports:
      - "8081:8081"
    environment:
      PYTHONWARNINGS: ignore

  api:
    build:
      context: .
    container_name: api
    ports:
      - "8080:8080"
    environment:
      PYTHONWARNINGS: ignore
    depends_on:
      - ai_service
      - qdrant

  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    restart: unless-stopped
    environment:
      QDRANT__LOG_LEVEL: info
      QDRANT__SERVICE__HTTP_PORT: 6333

volumes:
  qdrant_data:
